<h1>My Recipes </h1>
<%= form_tag(favorite_index_path, method: "get") do %>
<input type="text" name="recipesearch" id="search" placeholder="eg. italian chicken"></input>
<%= submit_tag("Search") %>
  <% if (params[:recipesearch]).present? %>
    <div class="search_display">
      <sub>Search results for <%= params[:recipesearch] %></sub>
    </div>
  <% end %>
<% end %>

<% @recipes.each do |recipe| %>
<div class='col-xs-12 col-md-4 results'>
  <div class="recipe-card">
    <div class="card-wrapper">
      <a href="/recipes/<%= recipe.id %>"><img src="<%= recipe.images %>" alt=""></a>
      <ul>
        <li class="recipeTitle"><%= recipe.title %></li>
      </ul>
    </div>
  </div>
</div>
<% end %>
