<h1>My Recipes </h1>
<%= form_tag(favorite_index_path, method: "get") do %>
<input type="text" name="recipesearch" id="search" placeholder="eg. italian chicken"></input>
<%= submit_tag("Search") %>
  <% if (params[:recipesearch]).present? %>
    <div class="search_display">
      <sub>Search results for <%= params[:recipesearch] %></sub>
    </div>
  <% end %>
<% end %>
<% @recipes.each do |recipe| %>
  <div class="row">
    <div class="col-xs-6">
      <a href="/recipes/<%= recipe.id %>"><img src="<%= recipe.images %>" alt=""></a>
      <ul>
        <li>Title: <%= recipe.title %></li>
      </ul>
    </div>
  </div>
<% end %>
<% @recipes.each do |recipe| %>
  <% if (recipe.cuisine).eql?'American' %>
  <h1>American</h1>
  <div class="row">
    <div class="col-xs-6">
      <a href="/recipes/<%= recipe.id %>">
        <divstyle="background-image: url(<%= recipe.images %>); background-color: rgba(148, 197, 204, 0.5); background-size: cover; ">
          <a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a>
        </div>
      </a>
    </div>
  </div>
  <% elsif (recipe.cuisine).eql?'Asian'  %>
  <h1>Asian</h1>
  <div class="row">
    <div class="col-xs-6">
      <a href="/recipes/<%= recipe.id %>"><img src="<%= recipe.images %>" alt=""><%= recipe.title %></a>
    </div>
  </div>
  <% end %>
<% end %>
