<%= form_for @recipe, :html => {:multipart => true} do |f| %>
  <div class="form-group">
    <%= f.label :title%>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :images, 'Image of Dish' %>
    <%= cl_image_upload_tag( :images, :class => 'form-control' )%>
  </div>

  <div class="form-group">
    <%= f.label :servings, 'Yield' %>
    <%= f.select :servings,((1..10).to_a), :class => 'form-control',:include_blank => true %>
  </div>

  <div class="form-group">
    <%#= f.label :ratings, 'Number of Stars' %>
    <%#= f.text_field :ratings, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :prep_duration, 'Prep Time'%>
    <!-- ((0..12).to_a).map { |i| i*5} -->
    <%#= f.select :prep_duration,(0..10).to_a,:include_blank => true %>
    <%#= f.select :prep_duration,(0..10).to_a,:include_blank => true %>
    <select name="recipe[prep_duration_hour]" id="recipe_prep_duration">
      <option value="">Hr</option>
      <% ((0..10).to_a).each do |i| %>
        <option value="<%= i %>"><%= i %></option>
      <% end %>
    </select>
    <select name="recipe[prep_duration_mins]" id="recipe_prep_duration">
      <option value="">Mins</option>
      <% (((0..12).to_a).map { |i| i*5}).each do |i| %>
        <option value="<%= i %>"><%= i %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <%= f.label :cook_duration, 'Cook Time' %>
    <%#= f.select :cook_duration,(0..10).to_a,:include_blank => true %>
    <%#= f.select :cook_duration,(0..10).to_a,:include_blank => true %>
    <select name="recipe[cook_duration_hour]" id="recipe_prep_duration">
      <option value="">Hr</option>
      <% ((0..10).to_a).each do |i| %>
        <option value="<%= i %>"><%= i %></option>
      <% end %>
    </select>
    <select name="recipe[cook_duration_mins]" id="recipe_prep_duration">
      <option value="">Mins</option>
      <% (((0..12).to_a).map { |i| i*5}).each do |i| %>
        <option value="<%= i %>"><%= i %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category,['Brunch','Lunch','Soup','Salad','Side','Snack','Dinner','Dessert'], :class => 'form-control',:include_blank => true %>
  </div>

  <div class="form-group">
    <%= f.label :cuisine %>
    <%= f.select :cuisine,['American','Asian','British','Chinese',' French','Greek','Indian','Italian','Japanese','Malaysian','Mexican','Spanish','Thai','Turkish','Vietnamese'],:include_blank => true, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :level, 'Level of Difficulty' %>
    <%= f.select :level,[['Easy',0],['Medium',1],['Complex',2]],:include_blank => true %>
  </div>

  <div class="form-group">
    <%= f.label :directions %>
    <%= f.text_area :directions, :class => 'form-control' %>
  </div>
  <div class="form-group">
    Ingredients:
    <div class="form-group">
      <%= f.fields_for :ingredients do |builder| %>
          <%= render 'ingredients_fields', :f => builder %>
        <% end %>
        <%=  '<span class="glyphicon glyphicon-plus add_ingredients" aria-hidden="true"></span>'.html_safe %>
    </div>
  </div>
  <%= f.submit %>

<% end %>
