<%= form_for @recipe, :html => {:multipart => true} do |f| %>
  <div class="form-group">
    <%= f.label :title%>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :images, 'Image of Dish' %>
    <%= f.url_field :images, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :servings, 'Yield' %>
    <%= f.text_field :servings, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :ratings, 'Number of Stars' %>
    <%= f.text_field :ratings, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :prep_duration, 'Prep Time'%>
    <%#= f.select :prep_duration,(0..10).to_a,:include_blank => true %>
    <%#= f.select :prep_duration,(0..10).to_a,:include_blank => true %>
    <select name="recipe[prep_duration_hour]" id="recipe_prep_duration">
      <option value=""></option>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <select name="recipe[prep_duration_mins]" id="recipe_prep_duration">
      <option value=""></option>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>

  <div class="form-group">
    <%= f.label :cook_duration, 'Cook Time' %>
    <%#= f.select :cook_duration,(0..10).to_a,:include_blank => true %>
    <%#= f.select :cook_duration,(0..10).to_a,:include_blank => true %>
    <select name="recipe[cook_duration_hour]" id="recipe_prep_duration">
      <option value=""></option>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <select name="recipe[cook_duration_mins]" id="recipe_prep_duration">
      <option value=""></option>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.text_field :category, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :cuisine %>
    <%= f.text_field :cuisine, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :level, 'Level of Difficulty' %>
    <%= f.select :level,[['Easy',1],['Medium',2],['Complex',3]],:include_blank => true %>
  </div>

  <div class="form-group">
    <%= f.label :directions %>
    <%= f.text_field :directions, :class => 'form-control' %>
  </div>
  <div class="form-group">
    Ingredients:
    <div class="form-group">
      <%= f.fields_for :ingredients do |builder| %>
          <%= render 'ingredients_fields', :f => builder %>
      <% end %>
        <%=  '<span class="glyphicon glyphicon-plus add_ingredients" aria-hidden="true"></span>'.html_safe %>
    </div>
  </div>
  <%= f.submit %>

<% end %>
