<h1>All Recipes </h1>
<%= form_tag(recipes_path, method: "get") do %>
<input type="text" name="recipesearch" id="search" placeholder="eg. italian chicken"></input>
<%= submit_tag("Search") %>
<% end %>

<div>
  <% @recipes.each do |recipe| %>

    <ul>
      <li><img src="<%= recipe.images %>" alt=""></li>
      <li>Title: <%= recipe.title %></li>
      <li>Rating: <%= recipe.ratings %></li>
      <li>Difficulty Level: <%= recipe.level %></li>
      <li>Cooking Duration: <%= Time.at(recipe.cook_duration ).utc.strftime("%H:%M")%> Hrs</li>
      <li>Prep Duration: <%= recipe.prep_duration %></li>
    </ul>

  <% end %>

  <% if @searchrecipes.size > 0 %>
  <% @searchrecipes.each_with_index do |x,i| %>
      <ul>
        <li><img src="<%= @searchrecipes[i]["image_url"] %>" alt=""></li>
        <li>Title: <%= @searchrecipes[i]["title"] %></li>
        <li><a href="<%= @searchrecipes[i]["source_url"] %>">Find about recipe</a></li>

      </ul>

    <% end %>

  <% end %>

</div>
