<h1>All Recipes </h1>
<input type="text" name="name" id="search" placeholder="eg. italian chicken"></input>
<button id="searchButton"> </button>
<div>
  <% @recipes.each do |recipe| %>
  <%= recipe.images %>
  <%= recipe.name %>
  <%= recipe.ratings %>
  <%= recipe.level %>
  <%= recipe.cook_duration %>
  <%= recipe.prep_duration %>
  <% end %>
</div>
