<script type="text/javascript">
	// TOUCH-EVENTS SINGLE-FINGER SWIPE-SENSING JAVASCRIPT
	// Courtesy of PADILICIOUS.COM and MACOSXAUTOMATION.COM

	// this script can be used with one or more page elements to perform actions based on them being swiped with a single finger

	var triggerElementID = null; // this variable is used to identity the triggering element
	var fingerCount = 0;
	var startX = 0;
	var startY = 0;
	var curX = 0;
	var curY = 0;
	var deltaX = 0;
	var deltaY = 0;
	var horzDiff = 0;
	var vertDiff = 0;
	var minLength = 72; // the shortest distance the user may swipe
	var swipeLength = 0;
	var swipeAngle = null;
	var swipeDirection = null;

	// The 4 Touch Event Handlers

	// NOTE: the touchStart handler should also receive the ID of the triggering element
	// make sure its ID is passed in the event call placed in the element declaration, like:
	// <div id="picture-frame" ontouchstart="touchStart(event,'picture-frame');"  ontouchend="touchEnd(event);" ontouchmove="touchMove(event);" ontouchcancel="touchCancel(event);">

	function touchStart(event,passedName) {
		// disable the standard ability to select the touched object
		event.preventDefault();
		// get the total number of fingers touching the screen
		fingerCount = event.touches.length;
		// since we're looking for a swipe (single finger) and not a gesture (multiple fingers),
		// check that only one finger was used
		if ( fingerCount == 1 ) {
			// get the coordinates of the touch
			startX = event.touches[0].pageX;
			startY = event.touches[0].pageY;
			// store the triggering element ID
			triggerElementID = passedName;
		} else {
			// more than one finger touched so cancel
			touchCancel(event);
		}
	}

	function touchMove(event) {
		event.preventDefault();
		if ( event.touches.length == 1 ) {
			curX = event.touches[0].pageX;
			curY = event.touches[0].pageY;
		} else {
			touchCancel(event);
		}
	}

	function touchEnd(event) {
		event.preventDefault();
		// check to see if more than one finger was used and that there is an ending coordinate
		if ( fingerCount == 1 && curX != 0 ) {
			// use the Distance Formula to determine the length of the swipe
			swipeLength = Math.round(Math.sqrt(Math.pow(curX - startX,2) + Math.pow(curY - startY,2)));
			// if the user swiped more than the minimum length, perform the appropriate action
			if ( swipeLength >= minLength ) {
				caluculateAngle();
				determineSwipeDirection();
				processingRoutine();
				touchCancel(event); // reset the variables
			} else {
				touchCancel(event);
			}
		} else {
			touchCancel(event);
		}
	}

	function touchCancel(event) {
		// reset the variables back to default values
		fingerCount = 0;
		startX = 0;
		startY = 0;
		curX = 0;
		curY = 0;
		deltaX = 0;
		deltaY = 0;
		horzDiff = 0;
		vertDiff = 0;
		swipeLength = 0;
		swipeAngle = null;
		swipeDirection = null;
		triggerElementID = null;
	}

	function caluculateAngle() {
		var X = startX-curX;
		var Y = curY-startY;
		var Z = Math.round(Math.sqrt(Math.pow(X,2)+Math.pow(Y,2))); //the distance - rounded - in pixels
		var r = Math.atan2(Y,X); //angle in radians (Cartesian system)
		swipeAngle = Math.round(r*180/Math.PI); //angle in degrees
		if ( swipeAngle < 0 ) { swipeAngle =  360 - Math.abs(swipeAngle); }
	}

	function determineSwipeDirection() {
		if ( (swipeAngle <= 45) && (swipeAngle >= 0) ) {
			swipeDirection = 'left';
		} else if ( (swipeAngle <= 360) && (swipeAngle >= 315) ) {
			swipeDirection = 'left';
		} else if ( (swipeAngle >= 135) && (swipeAngle <= 225) ) {
			swipeDirection = 'right';
		} else if ( (swipeAngle > 45) && (swipeAngle < 135) ) {
			swipeDirection = 'down';
		} else {
			swipeDirection = 'up';
		}
	}

	function processingRoutine() {
		var swipedElement = document.getElementById(triggerElementID);
		// if ( swipeDirection == 'left' ) {
		// 	// REPLACE WITH YOUR ROUTINES
		// 	swipedElement.style.backgroundColor = 'orange';
		// } else
		if ( swipeDirection == 'right' ) {
      // swipedElement.style.backgroundColor = 'green';
      var id = window.location.href.split('/').pop();

      $.ajax({
        type: 'GET',
        url:'/favorites/add/'+id,
        // data:{ id: val },
        success:function(){
					$(".bookmark-add").fadeIn();
	          setTimeout(function(){
	            $(".bookmark-add").fadeOut();
	          }, 2000);
					}
				});

    }

		// } else if ( swipeDirection == 'up' ) {
		// 	// REPLACE WITH YOUR ROUTINES
		// 	swipedElement.style.backgroundColor = 'maroon';
		// } else if ( swipeDirection == 'down' ) {
		// 	// REPLACE WITH YOUR ROUTINES
		// 	swipedElement.style.backgroundColor = 'purple';
		// }
	}

</script>

<div class="container" id="swipeBox" ontouchstart="touchStart(event,'swipeBox');" ontouchend="touchEnd(event);" ontouchmove="touchMove(event);" ontouchcancel="touchCancel(event);">
    <div class="row col-xs-12 col-md-6 col-md-offset-3" id="showContainer">
		<!-- <% if flash[:notice] %> -->
        <div class="alert alert-success" role="alert">

            <%= flash[:notice] %>
             <script type="text/javascript">
               setTimeout(function(){
                 $(".bookmark-add").fadeOut();
               }, 2000);
             </script>

        </div>
      <!-- <% end %> -->
      <div class="showHeader">
          <% if @recipe != nil%>
            <h1>
              <%= @recipe.title if (@recipe.title).present? %>
            </h1>
            <%= image_tag @recipe.images, class: 'showImage' if @recipe.images.present?%>
          <% else %>
            <h1>
              <%= @searchrecipe["title"] if (@searchrecipe["title"]).present? %>
            </h1>
            <%= image_tag @searchrecipe["image_url"] if (@searchrecipe["image_url"]).present? %>
          <% end %>
            <%#= cl_image_tag @recipe.image, :width=>300, :height=>300, :gravity=>"auto", :class => 'thumbnail' %>
            <div>
              <% if @recipe !=nil %>
                <ul>
                  <li>
                    <div class="row ratings col-xs-12 col-md-6 col-md-offset-3">
                      <% if current_user %>
                        <% if @recipe_rating.nil? %>
                          I rate:<%= rating_for @recipe, "useful" , enable_half: true %>
                          <script type="text/javascript">
                            $(document).ready(function() {
                              $('.raty-cancel').addClass('hidden');
                            });
                          </script>

                        <% else %>
                            My Rating:
                            <li id="recipe_rating">
                                <div class="wrapper">
                                 <div class="box" style="font-size:150%;color:gold;">&#9733</div>
                                 <div class="box" style="font-size:150%;color:gold;">&#9733</div>
                                 <div class="box" style="font-size:150%;color:gold;">&#9733</div>
                                 <div class="box" style="font-size:150%;color:gold;">&#9733</div>
                                 <div class="box" style="font-size:150%;color:gold;">&#9733</div>
                                </div>

                              <script  type="text/javascript">
                              var rating = ("<%= @recipe_rating %>") /5 ;

                              var width = 102 * rating;

                              $('#recipe_rating').width(width);
                              </script>
                            </li>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="add_favorites">
                      <%= link_to '<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>'.html_safe ,add_favorite_path %>
                    </div>
                  </li>
                  <li id="rating">Palate Rating:
                      <div class="wrapper">
                       <div class="box" style="font-size:150%;color:gold;">&#9733</div>
                       <div class="box" style="font-size:150%;color:gold;">&#9733</div>
                       <div class="box" style="font-size:150%;color:gold;">&#9733</div>
                       <div class="box" style="font-size:150%;color:gold;">&#9733</div>
                       <div class="box" style="font-size:150%;color:gold;">&#9733</div>
                      </div>

                    <script  type="text/javascript">
                    var rating = "<%= @recipe_avg_rating %>" / 5;

                    var width = 102 * rating;

                    $('#rating').width(width);
                    </script>
                  </li>
                  <% if (@recipe.level).present? %>
                    <% recipe_levels = {0=>'Easy',1=>'Medium',2=>'Complex'} %>
                    <li>Level: <%= recipe_levels[@recipe.level] %></li>
                  <% end %>
                  <% if @recipe.prep_duration %>
										<% if  @recipe.prep_duration%>
                    	<li>Prep Time:<%= Time.at(@recipe.prep_duration).utc.strftime("%H:%M") %> hrs.</li>
										<% end %>
                  <% end %>
                  <% if @recipe.cook_duration  %>
										<% if  @recipe.cook_duration%>
                    	<li>Cook Time: <%= Time.at(@recipe.cook_duration).utc.strftime("%H:%M") %> hrs.</li>
										<% end %>
                  <% end %>
                  <% if (@recipe.category).present? %>
                    <li>Category: <%= @recipe.category %></li>
                  <% end %>
                  <% if (@recipe.cuisine).present?%>
                    <li>Cuisine: <%= @recipe.cuisine %></li>
                  <% end %>
                  <% if 	@recipe.servings %>
                  <li>Servings: <%= @recipe.servings %></li>
                  <% end %>
                  <% if @recipe.source_url %>
                  <li> <%= link_to 'More about this recipe', @recipe.source_url , :target => "_blank"%></li>
                  <% end %>
                </ul>
              <% else %>
              <ul>
                <% if @searchrecipe['ratings'] %>
                  <li>Ratings:
                    <% (@searchrecipe['ratings']).to_i.times do |i| %>
                    <span style="font-size:150%;color:gold;">&#9733;</span>
                    <% end %>
                  </li>
                <% end %>

                <% if @searchrecipe['level']%>
                  <li>Level: <%= @searchrecipe['level'] %></li>
                <% end %>

                <% if ((@searchrecipe['prep_duration'][0]).to_i != 0) %>
                  <li>Prep Time:<%= Time.at(@searchrecipe['prep_duration'][0]).utc.strftime("%H:%M")%> hrs.
                    <% if (@searchrecipe['prep_duration'][1]) %>  - <%=   Time.at(@searchrecipe['prep_duration'][1]).utc.strftime("%H:%M") %> hrs.
                    <% end %>
                  </li>
                <% end %>
								<%# raise "help" %>
                <% if (@searchrecipe['cook_duration']) %>
                  <li>Cook Time:<%= Time.at(@searchrecipe['cook_duration'][0]).utc.strftime("%H:%M") %> hrs.
                    <% if (@searchrecipe['cook_duration'][1]) %> - <%=   Time.at(@searchrecipe['cook_duration'][1]).utc.strftime("%H:%M") %> hrs.
                    <% end %>
                  </li>
                <% end %>
                <% if @searchrecipe['servings'] %>
                  <li>Servings: <%= @searchrecipe['servings'] %></li>
                <% end %>
              </ul>
              <% end %>

            </div>
            <div id="ingredients">
              <% if @recipe!=nil %>
							<%# raise "help" %>
								<% if (@recipe.ingredients).present? %>
                <h2>Ingredients</h2>
                <ul>
                  <% @quantities.each do |q| %>
                    <li>
                      <%= q.size %>
                      <%= q.unit %>
                      <%= q.ingredient.name %>
                    </li>
                  <% end %>
                </ul>
								<% end %>
              <% end %>
              <% if @searchrecipe["ingredients"]%>
                <h2>Ingredients</h2>
                <ul>
                  <% @searchrecipe["ingredients"].each do |i| %>
                    <li>
                      <%= i %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
            <div id="directions">
              <% if @recipe!=nil %>
								<% if @recipe.directions %>
                	<h2>Directions</h2>
									<%= @recipe.directions %>
								<% end %>
              <% elsif @searchrecipe['directions']%>
                <h2>Directions</h2>
                <ul>
                  <% @searchrecipe['directions'].each_index do |i| %>
                    <li>
                      <%= @searchrecipe['directions'][i] %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
      </div>
      <%= button_to 'Delete' , recipe_path, :method=> 'delete',:data => {:confirm => "Are you sure"}%>
  </div>
</div>
<div class="row col-xs-8 col-md-6 col-xs-offset-2 col-md-offset-3" id="comments">
	<div id="disqus_thread"></div>
	<script>
	(function() { // DON'T EDIT BELOW THIS LINE
	    var d = document, s = d.createElement('script');
	    s.src = '//palate-1.disqus.com/embed.js';
	    s.setAttribute('data-timestamp', +new Date());
	    (d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


	<script id="dsq-count-scr" src="//palate-1.disqus.com/count.js" async></script>

</div>
