<h1><%= @recipe.title %></h1>
<%= image_tag @recipe.images%>
<%#= cl_image_tag @recipe.image, :width=>300, :height=>300, :gravity=>"auto", :class => 'thumbnail' %>
<%#= raise "help" %>
<% (@recipe.ratings).to_i.times do |i| %>
  <span style="font-size:150%;color:yellow;">&#9733;</span>
<% end %>
<% recipe_levels = {1=>'Easy',2=>'Medium',3=>'Complex'} %>
<%= recipe_levels[@recipe.level] %>
<%= Time.at(@recipe.cook_duration).utc.strftime("%H:%M") if @recipe.cook_duration.present?%>
<%= Time.at(@recipe.prep_duration).utc.strftime("%H:%M") if @recipe.prep_duration.present?%>
<%= @recipe.category %>
<%= @recipe.cuisine %>

<div id="ingredients">
<h2>Ingredients</h2>
  <% @quantities.each do |q| %>
    <%= q.size %>
    <%= q.unit %>
    <%= q.ingredient.name %>
  <% end %>
</div>
<!-- Nested ingredients -->
<div id="directions">
<h2>Directions</h2>
<%= @recipe.directions %>
</div>
