<h1><%= @recipe.title %></h1>
<%= image_tag("http://www.marthastewart.com/sites/files/marthastewart.com/styles/wmax-520-highdpi/public/d22/1103_recipe_macncheese/1103_recipe_macncheese_vert.jpg?itok=0-9kgX5Y")%> 
<%#= cl_image_tag @recipe.image, :width=>300, :height=>300, :gravity=>"auto", :class => 'thumbnail' %>
<%= @recipe.ratings %>
<%= @recipe.level %>
<%= @recipe.cook_duration %>
<%= @recipe.prep_duration %>
<%= @recipe.category %>
<%= @recipe.cuisine %>

<div id="ingredients">
<h2>Ingredients</h2>
  <% @quantities.each do |q| %>
    <%= q.size %>
    <%= q.unit %>
    <%#= q.ingredient.name %>
  <% end %>
</div>
<!-- Nested ingredients -->
<div id="directions">
<h2>Directions</h2>
<%= @recipe.directions %>
</div>
